security/auth/*.key
security/auth/*.pem
security/auth/*.pub
crypto_keys/*
*.key
*.pem
!build_root/rootfs/etc/ssl/*.pem
bin/*
!bin/chrono
!bin/chrono-*
build/
boot/*.img
boot/vmlinuz*
security/auth/mobile/*
var/
vault/
